.application-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.primary-content {
  flex: 1 1 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

